import MuiTypography from "@mui/material/Typography";

export function {{ pascalCase FocusAndTestName }}Section(): React.ReactNode {
	return (
		<div>
			<MuiTypography variant="h2" gutterBottom>{{ FocusAndTestName }}</MuiTypography>
			<MuiTypography>
				{{ FocusAndTestName }} Section
			</MuiTypography>
		</div>
	);
}
