name: Build and Publish Storybook to GitHub Pages
on:
  push:
    branches:
      - 'main' # Use specific branch name
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: 'pages'
  cancel-in-progress: false
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ vars.NODE_VERSION }}
          npm-version: ${{ vars.NPM_VERSION }}
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build Storybook
        run: npm exec storybook build
      # Upload pages artifact
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: storybook-static
      # Deploy to Github Pages
      - id: deploy
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          token: ${{ github.token }}
